* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    background: black; /* remove fundo branco */
}

/* ocupa o ecrã todo */
.game-screen {
    width: 100%;
    height: 100vh;
    background-image: url("../images/gamescreen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* caixa central maior */
.overlay {
    width: 900px;
    max-width: 90%;
    height: 500px;
    background: rgba(7, 16, 45, 0.96);
    border-radius: 20px;
    text-align: center;
    color: white;
    padding-top: 35px;
}

    /* título maior */
    .overlay h1 {
        font-size: 64px;
        font-weight: 800;
        margin-bottom: 25px;
        background: linear-gradient(90deg, #7ea2ff, #d85cff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* timer */
.timer {
    font-size: 22px;
    font-weight: 800;
    color: #ff3b30;
    margin-bottom: 12px;
}

/* texto */
.label {
    font-size: 26px;
    font-weight: 700;
}

/* palavra principal maior */
.overlay h2 {
    font-size: 72px;
    font-weight: 800;
    margin: 20px 0 100px;
}

/* input maior */
.overlay input {
    width: 500px;
    max-width: 90%;
    height: 60px;
    border: 1.5px solid rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

    .overlay input::placeholder {
        color: rgba(255, 255, 255, 0.9);
    }

/* código */
.room-label {
    font-size: 22px;
    font-weight: 700;
    color: #9ea7bb;
}

.room-code {
    width: 240px;
    height: 45px;
    margin: 10px auto 0;
    border: 1.5px solid rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64d8ff;
    font-size: 22px;
    font-weight: 800;
}